.content {
  text-align: center;
  padding: 20px;
}

.content h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.heroes-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: nowrap;
}

.hero-card {
  width: 300px;
  border: 2px solid #d5d5d5;
  padding: 15px;
  background-color: white;
}

.hero-card img {
  width: 100%;
  height: 220px;
  object-fit: contain; /* igual ao exemplo */
}

.hero-card h4 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
