.hero-card {
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    background-color: #fafafa;
    transition: 0.3s;
}

.hero-card:hover {
    transform: scale(1.05);
}

.hero-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}