.header {
  background-color: #0077cc;
  padding: 15px 0;
  color: white;
}

.headerInner {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.header_logo {
  height: 60px;
}

.header h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.header h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}
