@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html, body {
    height: 100%;       /* NECESSÁRIO para o footer ir ao fundo */
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------ */
/* LAYOUT PARA O FOOTER NO FUNDO  */
/* ------------------------------ */
.page-wrapper {
    min-height: 100vh;       /* ocupa a página toda */
    display: flex;
    flex-direction: column;  /* conteúdo em cima, footer em baixo */
}

.page-content {
    flex: 1;                 /* empurra o footer */
}
